* {
  font-family: 'Nunito', sans-serif;
  /* color: #3E3F43; */
}

.contentList.figure-img.img-fluid{
width: auto;
height: auto;
}
.empty-carousel {
  height: 237.5px;
  background-color: #3e3f4375;
}

.type-title {
  margin-top: 14px;
  margin-bottom: 14px;
}

.react-multi-carousel-list.lendo{
  background-color: #EFE6EF;
}

.react-multi-carousel-list.quero-ler{
  background-color: #DDF1FD;
}

.react-multi-carousel-list.lidos{
  background-color: #D2E4E2;
}

h2 {
  font-size: 26px;
  font-weight: 700;
  margin-left: 33px;
  margin-top: 20px;
  text-align: left;
  color: #EEE;
}

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}

.figure-caption{
  text-align: center;
  font-weight: 600;
}

.content-slider-image{
  cursor: pointer;
}


