*{
  font-family: Almarai, sans-serif;
}

.profile-container{
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

.profile-welcome-text {
  font-size: 40px;
  margin-top: 35px;
  text-align: center;
  color: #EEE;
}

.profile-welcome-name {
  color: #F7873D;
}

.profile-consumption-container {
  display: flex;
  align-self: center;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: fit-content;
  width: 100%;
  padding: 3%;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 25px;
}

.total-consumption-box {
  color: #F7873D;
  background-color: #fff3;
  border-color: #FFF;
  width: 30%;
  font-size: 46px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  padding: 15px;
  min-width: 365px;
}

.total-consumption-box-title {
  font-size: 24px;
  color: #EEE;
  font-weight: 500;
}

.hours-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  justify-content: space-evenly;
  column-gap: 30px;
  width: 100%;
}

.hours-item {
  display: flex;
  flex-direction: column;
}

.hours-item-value {
  color: #F7873D;
}

.hours-item-type {
  color: #EEE;
  font-size: 16px;
}

.list-container {
  padding: 3%;
  display: flex;
  flex-direction: column;
}

.list-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 20px;
}

.list-header-title {
  font-size: 30px;
}

.list-header-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 15px;
}

.results-list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}