*{
  color: #EEE;
}

.button-list{
  display: flex;
  flex-direction: row;
}

button.button-item{
  font-weight: 600;
  color: #EEE;
  text-decoration: none;
}

button.button-item:hover, button.button-item.btn:active{
  color: #F7873D;
}

.button-icon{
  height: 24px;
  margin-right: 5px;
}