*{
  color: #EEE;
}

.button-list{
  display: flex;
  flex-direction: row;
}

@media (max-width: 500px) {
  .button-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}

button.button-item{
  font-weight: 600;
  color: #EEE;
  text-decoration: none;
}

button.button-item:hover, button.button-item.btn:active{
  color: #F7873D;
}

.button-icon{
  height: 24px;
  margin-right: 5px;
}

button.button-active, button.button-active:hover, button.button-active:active{
  color: #F7873D;
  text-decoration: none;
  font-weight: 600;
}