* {
  font-family: Almarai, sans-serif;
  color: #EEE;
}

.content-basic-info-wrapper{
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 30px;
  margin: 15px 25px;
  flex-wrap: wrap
}

.channel-name{
  color: #EEE;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}

.channel-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 15px;
  /* width: fit-content; */
  margin: 10px;
  flex-wrap: wrap;
}

.content-date{
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
}

.genres-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 15px;
}

.content-genres{
  background-color: rgba(238, 238, 238, 0.3);
  border-radius: 18px;
  padding: 1px 15px;
  margin-bottom: 0;
}

.content-basic-info-wrapper-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;
  flex-wrap: wrap;
}

.content-basic-info-wrapper-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  font-weight: 600;
  margin: 10px;

  >p{
    margin-bottom: 0;
  }
}

.star-rating{
  height: 24px;
}

.first-line, .third-line{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
  width: 100%;
  flex-wrap: wrap;
}

.second-line{
  font-weight: 400;
  text-align: left;
  padding-left: 10px;
}

button.rating-button{
  font-weight: 600;
  color: #EEE;
}

button.rating-button:hover{
  color: #F7873D;
  > img.rating-button-icon {
    filter: invert(34%) sepia(65%) saturate(850%) hue-rotate(320deg) brightness(105%) contrast(119%);
  };
}

.rating-button-icon{
  height: 24px;
  margin-left: 5px;
}